html {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: white;
    page: tape;
    margin: 0;
    height: 100%;
    float: left;
    color: black;
    font-family: "Helvetica Neue", Verdana, sans-serif;
    box-sizing: border-box;
    border: 0;
}

.label {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0;
}

p {
    padding: 0;
    margin: 0;
    border: 0;
}


/*body {*/
/*            border: 1px solid red;*/
/*        }*/
/*        .label {*/
/*            border: 1px solid green;*/
/*        }*/